body{
    font-size: 15px;
}
html{
    scroll-behavior: smooth;
    font-family: 'Graphik';
}
*,*::before,*::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* navigation */
nav{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 253, 245);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;
}
.nav_container{
    width: 92%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_image{
    width: 100%;
}
.links_container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding-left: 12px;
}
.nav_links{
    text-decoration: none;
    font-size: 17px;
    font-family: 'Graphik';
    color: #7e7d7d;
    font-weight: 400;
    margin-right:50px;
}
.thumbs img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: #e7332b;
    border:10px solid #e7332b;
    cursor: pointer;
}
.enroll{
    text-decoration:none;
    color: #fff;
    width: 150px;
    height:44px;
    background-color: #e7332b;
    border-radius: 0 25px 25px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 17px;
    padding-left: 22px;
    font-family: 'Graphik';
    position: relative;
    right: 14px;
    top: -4px;
    cursor: pointer;
}
.section_1{
    padding-top: 290px;
    background-color:rgb(255, 253, 245);
    height: 1000px;
}
.section_1_container{
    width: 90%;
    margin: auto;
   display: flex; 
}
.lady_image_1{
    width:370px;
    height: 320px;
    margin-top: 94px;
    transform: translateX(30px);
}
.lady_image_1 img{
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: darken;
}
.paragraph_container{
    text-align: center;
    width: 700px;
    padding-top: 10px;
    position: relative;
}
.first_paragraph{
    font-family: 'Graphik';
    color: #e7332b;
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: 40px;
}
.second_paragraph{
    font-family: 'Graphik';
    color:rgb(26, 26, 26);
    font-size: 50px;
    font-weight:600;
    max-width: 600px;
    transform: translateX(-14px);
}
.paragraph_container .image_1{
    width: 28%;
    margin-left:202px;
}
.third_paragraph{
    font-family: 'Graphik';
    color:rgb(66, 66, 66);
    font-size:17px;
    font-weight:400;
    max-width:420px;
    margin-left:80px;
    line-height: 1.6rem;
    letter-spacing: 1px;
    padding-top: 20px;
}

.male_image{
    width:360px;
    height: 400px;
    margin-top: 40px;
}
.male_image img{
    width: 100%;
    height: 100%;
    object-fit:contain;
    mix-blend-mode: darken;
    transform: translateX(-386px);
}
.paragraph_container .image_2{
    width: 9%;
    transform: translateX(-386px);
    margin-top:60px;
    position: absolute;
}
.paragraph_container .image_3{
    width: 13%;
    position: absolute;
    top: 410px;
    right:214px;
}
.btn_1{
    width: 160px;
    height: 45px;
    border-radius: 20px;
    background-color: #e7332b;
    color: #fff;
    font-size: 17px;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    margin-top:38px;
    margin-right: 50px;
}
